In [37]:
import pandas as pd
import numpy as np

In [38]:
all_data=pd.read_csv('t_2.csv')

In [39]:
all_data

                                                 SMILES  terminal  t1/2 (h)
0     N1[C@H](C(=O)N[C@H](C(=O)N[C@H](C(=O)N[C@H](C(...                0.22
1                    c1cn(c(=O)nc1N)[C@H]2CO[C@H](S2)CO               19.20
2                  c1cn(c(=O)nc1N)[C@@H]2CO[C@@H](S2)CO                8.92
3     O[C@@H]1C[C@@](C[C@@H](OC(=O)\C=C\c2ccc(O)c(O)...                1.37
4     C1([C@@H]2[C@@]3([C@@]([C@@H]4[C@@H]([C@@]5(CC...               51.60
...                                                 ...                 ...
1327    OC(=O)CN1C(=O)C(=O)Nc2cc(c(cc12)n3ccnc3)N(=O)=O                0.78
1328     C(=O)(NC(=N)N)c1c(n(nc1)c1c2c(ccc1)nccc2)C1CC1                2.00
1329   CN1CCN(CC1)C(=O)OC2N(C(=O)c3nccnc23)c4ccc(Cl)cn4                5.20
1330  COc1cccc2C(=O)c3c(O)c4C[C@](O)(C[C@H](O[C@H]5C...                2.02
1331  CO[C@@H]1C[C@H](C[C@@H](C)[C@@H]2CC(=O)[C@H](C...               35.00

[1332 rows x 2 columns]

In [40]:
all_data=all_data.sample(frac=1).reset_index(drop=True)
num=int(all_data.shape[0]*0.2)
test_data=all_data.iloc[:num,:]
train_data=all_data.iloc[num:,:]

In [41]:
train_data

                                                 SMILES  terminal  t1/2 (h)
266   [Gd+3].COCCNC(=O)CN(CCN(CCN(CC([O-])=O)CC(=O)N...                1.46
267     COc1ccc2CN(C)CC[C@@]34C=C[C@H](O)C[C@@H]3Oc1c24                5.30
268   C[C@H](\C=C\[C@H](C)C(C)(C)O)[C@H]1CC[C@H]2\C(...                5.30
269    c1(n(c2c(C(=O)c3ccccc3C2=O)[n+]1Cc1cnccn1)CCOC)C               24.80
270             COC(=O)[C@H](c1ccccc1Cl)N2CCc3c(ccs3)C2                5.06
...                                                 ...                 ...
1327  CC(C)[C@@H](CC[C@@H](C)[C@H]1CC[C@H]2[C@@H]3[C...                9.50
1328                     CC1=C(C=C(C#N)C(=O)N1)c2ccncc2                0.80
1329  c1ccc(cc1)CC[C@H](N[C@@H]1C(N2[C@@H](CCC[N@@]2...               50.60
1330               c1cc(ccc1O)[C@@H](CN(C)C)C1(CCCCC1)O                8.40
1331                            ClCCN(CCCl)P1(=O)NCCCO1                8.00

[1066 rows x 2 columns]

In [42]:
real_label=list(train_data.iloc[:,1])
labels=[]
n=0
m=1
for real in real_label:
    if real<3:
        labels.append(0)
        n+=1
    else:
        labels.append(1)
        m+=1
print(n,m)
train_data['label']=labels

432 635

/home/wm/anaconda3/envs/bling/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [43]:
test_data

                                                SMILES  terminal  t1/2 (h)
0    O([C@H]([C@H](NC(c1nc([C@@H](NC[C@@H](C(N)=O)N...                3.90
1    c1(nc(cc2ccccc12)C(=O)N([C@@H](CC)C)C)c1c(cccc...                3.70
2    [H]N([H])C([C@](CCN1CCCCC1)(CCN(C(C)C)C(C)=O)c...               12.00
3           Cc1cc(c(cc1C(=O)NC(=N)N)S(=O)(=O)C)n2cccc2                2.20
4                   CCCN(CCC)S(=O)(=O)c1ccc(cc1)C(=O)O                5.90
..                                                 ...                 ...
261  N(CCN(CC)CC)C(C(=C(C1CNC=O)S2)C(=O)C(C2=CC=C2O...                6.19
262  n1(nnnc1SCC1=C(N2[C@H](OC1)[C@@](C2=O)(OC)NC(=...                0.60
263            OCCN1C[C@H](O)[C@@H](O)[C@H](O)[C@H]1CO                2.30
264  [C@@H]12[C@@H]([C@@]3(C(=CC(=O)CC3)CC2)C)CC[C@...                0.17
265  [Na+].[Na+].c1(cc(c(cc1)\C=[N+](\C(C)(C)C)[O-]...                3.60

[266 rows x 2 columns]

In [44]:
real_label=list(test_data.iloc[:,1])
labels=[]
n=0
m=1
for real in real_label:
    if real<3:
        labels.append(0)
        n+=1
    else:
        labels.append(1)
        m+=1
print(n,m)
test_data['label']=labels

108 159

/home/wm/anaconda3/envs/bling/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [45]:
train_data.to_csv('t_2_train.csv',index=False)
test_data.to_csv('t_2_test.csv',index=False)

In [46]:
list(train_data)

['SMILES', 'terminal  t1/2 (h)', 'label']

In [35]:
train_data[['SMILES','terminal  t1/2 (h)']].to_csv('t_2_train_reg.csv',index=False,header=None)

In [36]:
test_data[['SMILES','terminal  t1/2 (h)']].to_csv('t_2_test_reg.csv',index=False,header=None)