In [5]:
import pandas as pd
import numpy as np

In [8]:
f1=pd.read_csv('train.smi',header=None)
f1

                                                      0
0     [Gd+3].COCCNC(=O)CN(CCN(CCN(CC([O-])=O)CC(=O)N...
1       COc1ccc2CN(C)CC[C@@]34C=C[C@H](O)C[C@@H]3Oc1c24
2     C[C@H](\C=C\[C@H](C)C(C)(C)O)[C@H]1CC[C@H]2\C(...
3      c1(n(c2c(C(=O)c3ccccc3C2=O)[n+]1Cc1cnccn1)CCOC)C
4               COC(=O)[C@H](c1ccccc1Cl)N2CCc3c(ccs3)C2
...                                                 ...
1061  CC(C)[C@@H](CC[C@@H](C)[C@H]1CC[C@H]2[C@@H]3[C...
1062                     CC1=C(C=C(C#N)C(=O)N1)c2ccncc2
1063  c1ccc(cc1)CC[C@H](N[C@@H]1C(N2[C@@H](CCC[N@@]2...
1064               c1cc(ccc1O)[C@@H](CN(C)C)C1(CCCCC1)O
1065                            ClCCN(CCCl)P1(=O)NCCCO1

[1066 rows x 1 columns]

In [16]:
f2=pd.read_csv('name.csv',header=None)
f2

              0
0     smile0001
1     smile0002
2     smile0003
3     smile0004
4     smile0005
...         ...
1061  smile1062
1062  smile1063
1063  smile1064
1064  smile1065
1065  smile1066

[1066 rows x 1 columns]

In [18]:
f3=pd.concat([f1,f2],axis=1)
f3

                                                      0          0
0     [Gd+3].COCCNC(=O)CN(CCN(CCN(CC([O-])=O)CC(=O)N...  smile0001
1       COc1ccc2CN(C)CC[C@@]34C=C[C@H](O)C[C@@H]3Oc1c24  smile0002
2     C[C@H](\C=C\[C@H](C)C(C)(C)O)[C@H]1CC[C@H]2\C(...  smile0003
3      c1(n(c2c(C(=O)c3ccccc3C2=O)[n+]1Cc1cnccn1)CCOC)C  smile0004
4               COC(=O)[C@H](c1ccccc1Cl)N2CCc3c(ccs3)C2  smile0005
...                                                 ...        ...
1061  CC(C)[C@@H](CC[C@@H](C)[C@H]1CC[C@H]2[C@@H]3[C...  smile1062
1062                     CC1=C(C=C(C#N)C(=O)N1)c2ccncc2  smile1063
1063  c1ccc(cc1)CC[C@H](N[C@@H]1C(N2[C@@H](CCC[N@@]2...  smile1064
1064               c1cc(ccc1O)[C@@H](CN(C)C)C1(CCCCC1)O  smile1065
1065                            ClCCN(CCCl)P1(=O)NCCCO1  smile1066

[1066 rows x 2 columns]

In [20]:
f3.to_csv('train_name.csv',header=None,index=False,sep=' ')